table, th, td {
    border: 2px solid;
    text-align:center;
    padding:1px;
    margin : 5px;
    margin-bottom: 10px;
  }
table{
    background-color: blanchedalmond;
}
th{
    background-color : grey;
}
td{
    background-color: white;
}
